body{
    padding: 0px;
    margin: 0px;
}

header {
    display: block;
    height: 100px;
    ;
}
.popUpDashboard {
    background-color: aqua;
    width: 300px;
    height: 250px;
    display: none;
}
input[type=radio]:checked + .slide {
}
.search{
    position: relative;
    background: #3c3c3c;
    padding: 7px;
    width: 15%;
    font-family: Georgia;
    border: 2px solid white;
}
a {
    text-decoration: none;
}
.customMenu{
    position: relative;
    width: 100%;
    background-color: #3c3c3c;
    height: 100px;
}
ul.capMenu {
    margin: 0;
    padding: 0px;
}
ul.capMenu li {
    display: inline;
    margin: 5%;
    padding: 0;
}
.capMenu{
    position: relative;
    bottom: 70px;
    left:20%;
}








ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.site-menu {
    position: relative;
    width: 100%;
    height: 100px;
    background: #f0f0f0;
}
ul.site-menu li {
    width:24%;
    background: #f0f0f0;
}
.site-menu li {
    display:block;
    float:left;
    padding:5px;
}

.site-menu a{
    color: black;
    treansition: 1.0s all;
}
.site-menu a:hover{
    background: lightgray;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.menuList{
    position: relative;
}
ul .dropdown-menu li {
    display: block;
    width:100%;
    background: #f0f0f0;
}
.dropdown-menu{
    position: absolute;
    width: 100%;
    top: 100%;

    opacity: 0;
}
.menuList :hover .dropdown-menu{
    opacity: 1;
}






.laptops-slider{
    position: relative;
    width: 70%;
    height: 400px;
    background: orange;
    padding: 20px;
    margin-left: 14%;
    margin-top: 100px;

}

.range-list li {
    display:inline-block;
    margin-left: 130px;
    margin-top: 100px;
    border: 1px solid #000;
}



.partners-list li {
    display:inline-block;
    margin-left: 75px;
    margin-top: 100px;
    border: 1px solid #000;
}

.guarantee{
    position: relative;
    width: 100%;
    height: 400px;
}
.SliderGuarantee{
    position: absolute;
    margin-left: 15%;
    margin-top: 10%;
}

.SliderGuarantee-list li {
    display:block;
    margin-top: 20px;
    border: 1px solid #000;
}
.infoGuarantee{
    position: absolute;
    margin-left: 40%;
    margin-top: 11%;
}
.infoGuarantee-picture{
    margin-left: 200%;
    margin-top: -40%;
}

.ourСompany{
    position: absolute;
    width: 100%;
    height: 400px;
    margin-left: 30%;
    margin-top: 10%;
}

.mail{
    position: absolute;
    width: 100%;
    height: 400px;
    margin-left: 60%;
    margin-top: 10%;
}
.basement{
    position: relative;
    width: 100%;
    height: 400px;
    margin-left: 0%;
    margin-top: 600px;
    background: #464646;
}
.contacts{
    position: absolute;
}

.map{
    position: absolute;
    margin-left: 65%;
    margin-top: 0px;
}
.map-list li {
    display:inline-block;
}
.socialNetwork{
    position: absolute;
    width: 100%;
    height: 100px;
    background: #3c3c3c;
    margin-top: 400px;
}
.socialNetwork-list li {
    display:inline-block;
    margin-left: 10px;
    margin-top: -8%;

}
.socialNetworkList-move{
    position: absolute;
    right: 10%;
}

















