body{
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/*HEADER STYLES*/
.caption{
    position: absolute;
}
.search{
    background: #3c3c3c;
    width: 150%;
    padding: 5px;
    font-family: Century Gothic, Helvetica, sans-serif;
    border: 2px solid white;
}

.customMenu{
    position: relative;
    background-color: #3c3c3c;
    height: 100px;
}
ul.capMenu {
    margin: 0;
    padding: 0px;
}
ul.capMenu li {
    display:  inline-block;
    margin-left: 10%;
    padding: 0;
}
.capMenu{
    position: relative;
    bottom: 70px;
    left:20%;
}
.popUp{
    margin-left: 200px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.site-menu {
    position: relative;
    width: 100%;
    height: 100px;
    background: #f0f0f0;
}
ul.site-menu li {
    width:24%;
    background: #f0f0f0;
}
.site-menu li {
    display:block;
    float:left;
    padding:5px;
}
.site-menu a{
    color: black;
    treansition: 1.0s all;
}
.site-menu a:hover{
    background: lightgray;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.menuList{
    position: relative;
}
ul .dropdown-menu li {
    display: block;
    width:100%;
    background: #f0f0f0;
}
.dropdown-menu{
    position: absolute;
    width: 100%;
    top: 100%;
    opacity: 0;
}
.menuList :hover .dropdown-menu{
    opacity: 1;
}
/* END HEADER STYLES*/
.fontCustomMenu{
    font:20px Century Gothic, Helvetica, sans-serif;
    color: #e9b637;
}
.FontMainMenu{
    font:20px Century Gothic, Helvetica, sans-serif;
}
.fontArea{
    font:17px Century Gothic, Helvetica, sans-serif;
    color: white;
}
/* LAPTOPS STYLES*/
.laptops-slider{
    position: relative;
    width: 70%;
    height: 400px;
    background: #e9b637;
    padding: 20px;
    margin-left: 14%;
}
.sliderLaptops-list {
    position: absolute;
    left: 45%;
}
.imgLaptops{
    position: absolute;
    margin-left: 65%;
}
.sliderLaptops-list li {
    display:inline-block;
    margin-left: 30px;
    margin-top: 375px;
    border: 1px solid #000;
}
.more-info{
    position: absolute;
    margin-top:17%;
    margin-left: 5%;
    border: 3px solid white;
    border-radius: 7px;
    width: 18%;
    height: 10%;
}
.styleInfoFirst{
    position: absolute;
    font-family: Century Gothic, sans-serif;
    font-size: 40px;
    margin-left: 5%;
    color: white;
}
.styleInfoSecond{
    position: absolute;
    margin-top:3%;
    margin-left: 5%;
    font-family: Century Gothic, sans-serif;
    font-size: 40px;
}
.info-laptops{
    position: absolute;
    margin-top:9%;
    margin-left: 5%;
    color: white;
}
/* END LAPTOPS STYLES*/




/* RANGE STYLES*/
.range-list li {
    position: relative;
    display:inline-block;
    margin-left: 130px;
    margin-top: 100px;
}
.within{
    height: 100px;
    width: 100px;
    background: red;
}

/*.circle{*/
    /*border: 3px solid orange;*/
    /*width: 160px;*/
    /*height: 160px;*/
    /*border-radius: 50%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/
.computers h3{
    padding-top: 165px;
}
.computers::before{
    content: "";
    position: absolute;
    top:0;
    width: 160px;
    height: 160px;
    background-image: url(Picture/1.png);
    border-radius: 50%;
    border: 3px solid orange;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/* END RANGE STYLES*/
.partners-list li {
    display:inline-block;
    margin-left: 75px;
    margin-top: 100px;
    border: 1px solid #000;
}

.guarantee{
    position: relative;
    width: 100%;
    height: 400px;
}
.SliderGuarantee{
    position: absolute;
    margin-left: 15%;
    margin-top: 10%;
}

.SliderGuarantee-list li {
    display:block;
    margin-top: 20px;
    border: 1px solid #000;
}
.infoGuarantee{
    position: absolute;
    margin-left: 40%;
    margin-top: 11%;
}
.infoGuarantee-picture{
    margin-left: 200%;
    margin-top: -40%;
}

.ourСompany{
    position: absolute;
    width: 100%;
    height: 400px;
    margin-left: 30%;
    margin-top: 10%;
}

.mail{
    position: absolute;
    width: 100%;
    height: 400px;
    margin-left: 60%;
    margin-top: 10%;
}
.basement{
    position: relative;
    width: 100%;
    height: 400px;
    margin-left: 0%;
    margin-top: 600px;
    background: #464646;
}
.contacts{
    position: absolute;
}

.map{
    position: absolute;
    margin-left: 65%;
    margin-top: 0px;
}
.map-list li {
    display:inline-block;
}
.socialNetwork{
    position: absolute;
    width: 100%;
    height: 100px;
    background: #3c3c3c;
    margin-top: 400px;
}
.socialNetwork-list li {
    display:inline-block;
    margin-left: 10px;
    margin-top: -8%;

}
.socialNetworkList-move{
    position: absolute;
    right: 10%;
}

















.popUpDashboard {
    background-color: aqua;
    width: 300px;
    height: 250px;
    display: none;
}
input[type=radio]:checked + .slide {
}
a {
    text-decoration: none;
}
